/* MAIN CSS */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: palegoldenrod;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER AND NAVIGATION BAR */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: darkslateblue;
  height: 140pt;
  width: 100%;
}

.buttons {
  position: fixed;
  right: 40pt;
  top: 10pt;
}

.header-grid {
  margin-left: 0;
}

h1 {
  font-size: 40pt;
  margin-top: 70px;
  justify-content: center;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  color: goldenrod;
  /* position: relative; */
  font-family: 'Press Start 2P', cursive;
}

/* h1.error {
  font-size: 42pt;
  color: goldenrod;
  position: relative;
  top: 30px;
  font-family: 'Press Start 2P', cursive;
} */

.logo {
  height: 105pt;
  margin-left: 20pt;
  margin-top: 10pt;
  border: 5px palegoldenrod;
  border-style:ridge;
}

.navBar {
  /* background-color: darkslateblue;
  height: 140pt;
  width: 100%; */
}

/* HOME SCREEN */
div.vertical-container {
  top: 400pt;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

img.home {
  height: 43%;
  position: fixed;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  border-radius: 20%;
  border-style: double;
  border-color: darkslateblue;
  border-width: 10pt;
}

h5.message {

  font-size: 10pt;
  display: flex;
  position: fixed;
  bottom: 40px;
  color: darkslateblue;
  position: fixed;
}

/* CUSTOMER CSS */

div.customer-sort {
  position: fixed;
  left: 10pt;
  top: 150pt;
}

h2.customer-message {
  position: relative;
  left: 10pt;
  justify-content: center;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  color: darkslateblue;
}

div.customer-display {

}

button.customer-button {
  background-color: darkslateblue;
  color: white;
}

button.customer-button:hover {
  background-color: slateblue;
  border: 1px solid darkslateblue;
  color: white;
}

ul.customer-component-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

/* CUSTOMER FORM */

div.customerFormContainer {
  position: relative;
  left: 50pt;
  top: 150pt;
  right: 100pt;
  width: 80%;
  margin: 50px;
  padding: 25px;
  border: 10px darkslateblue;
  border-style: double;
  border-radius: 25px ;
}

img.cutlery {
  border-radius: 10%;
}

li {
  list-style: none;
  padding-left: 4pt;
}

button.submit {
  background-color: darkslateblue;
  color: white;
}

button.submit:hover {
  background-color: slateblue;
  border: 1px solid darkslateblue;
  color: white;
}

li.customer-component-item {
  display: inline;
}

div.customer-component {
  /* align-content: center; */
  margin: 30px;
  padding: 15px;
  width: 350px;
  border: 7px darkslateblue;
  border-style: outset;
}

.font {
  colour: darkslateblue;
}

strong.font {
  color: darkslateblue;
  font-size: 20px
  /* font-family: 'Cantarell'; */
}

.sort-buttons {
  padding: 15px;
}

/* BOOKINGS CSS */

div.booking-sort {
  /* position: fixed; */
  left: 10pt;
  top: 150pt;
}

button.booking-button {
  position: fixed;
  top: 150pt;
  right: 40pt;
  background-color: darkslateblue;
  color: white;


}

button.delete-button {
  background-color: darkslateblue;
  color: white;
}

.date-picker {
  background-color: aliceblue;
  position: fixed;
  left: 40pt;
  top: 160pt;
}

h2.booking-message {
  position: relative;
  left: 10pt;
  top: 150pt;
  justify-content: center;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  color: darkslateblue;
}

li.booking-component-item {
  display: inline;
}

ul.booking-component-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.booking-component {
  position: relative;
  left: 10pt;
  top: 150pt;
  margin: 20px;
  padding: 10px;
  width: 350px;
  border: 4px darkslateblue;
  border-style: dashed;
}

/* BOOKING FORM */

div.bookingFormContainer {
  position: relative;
  justify-content: center;
  left: 50pt;
  top: 150pt;
  right: 100pt;
  width: 80%;
  margin: 50px;
  padding: 25px;
  border: 10px darkslateblue;
  border-style: double;
  border-radius: 25px ;
}

form.bookingForm {
    display: flex;
    justify-content: center;
    left: 10pt;
    top: 150pt;
}

button.submit {
  background-color: darkslateblue;
  color: white;
}

button.submit:hover {
  background-color: slateblue;
  border: 1px solid darkslateblue;
  color: white;
}

select.bookingFormSelect {

}
